@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --primary: #029AE0;
    --primary-100: #073044;
    --primary-200: #415A66;
    --primary-300: #017CB3;
    --primary-400: #50B6E6;
    --background: #202124;
    --background-100: #26282b;
    --background-200: #3b3c3f;
    --background-300: #494b4e;
    --fontsize-small: 10px;
    --fontsize-medium: 14px;
    --fontsize-medium-large: 16px;
    --fontsize-large: 18px;
    --fontsize-xlarge: 22px;
}
* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-areas: 'sidebar content';
    height: 100vh;
    background-color: var(--background);
    color: #fff;
    margin: 0;
}
/* General styles*/
button{
    padding: 8px 15px;
    cursor: pointer;
    height: 40px;
    font-size: var(--fontsize-medium);
    background-color: var(--primary);
    color: white;
    border-radius: 100px;
    border:none;
}


h2 {
    font-size: var(--fontsize-xlarge);
}

h3 {
    font-size: var(--fontsize-large);
}
h4 {
    font-size: var(--fontsize-medium);
}
h5 {
    font-size: var(--fontsize-small);
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
button:hover{
    background-color: var(--primary-400);
    transition: background-color 0.3s, color 0.3s;
}

.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
/* Sidebar styles*/
#sidebar {
    background-color: var(--background-100);
    padding: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

/* Content styles*/

#nav-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#nav-buttons li {
    list-style-type: none;
    padding: 15px;
    border-radius: 10px;
    font-size: var(--fontsize-medium);
    cursor: pointer;
    
}

#nav-buttons li:hover{
    background-color: var(--primary);
}

header {
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
}

.material-icons-round {
    margin-right: 10px;
    vertical-align: middle;
}

#project-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: auto;
    margin: 40px 30px;
    gap: 20px;
    
}
/* Project cards */

.project-card {
 background-color: var(--background-100);
 border-radius: 8px;
 cursor:pointer
}

.projects-card:hover {
    outline: 2px solid var(--primary);
}

.card-header {
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    align-items: center;
    justify-content: start;
    height: 60px;
    border-bottom: 2px solid #3b3c3f
}

.card-content {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: start;
}

.card-property {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Form styles */
dialog {
    background-color: transparent;
    border: none;
    margin: auto;
}

dialog::backdrop {
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(3px);
}
form {
    width: 450px;
    border-radius: 8px;
    background-color: var(--background-100);
    color: white;
}

form h2 {
    padding: 20px;
    border-bottom: 2px solid var(var(--background-200))
}

form .form-field-container {
    display: flex;
    flex-direction: column;
}

form .form-button-area {
    display: flex;
    border-bottom: 10px solid var(--background-100);
    margin:  20px;
    justify-content: flex-end;
}

form .input-list {
    display: flex;
    flex-direction: column;
    padding: 20px;
    row-gap: 25px;
}

#form-cancel-button:hover {
    background-color: red ;
}
#form-cancel-button {
    margin-right: 20px;
}

input, textarea, select {
    color:white;
    background-color: var(--background-200);
    padding: 15px;
    border-radius: 8px;
    border:none;
    font-size: var(--fontsize-medium)
}

input:focus, textarea:focus, select:focus {
    outline: 2px solid var(--primary)
}

.form-field-container label {
    margin-bottom: 10px;
}

.material-icons-round{
    vertical-align: center;
}

.tooltip {
    color: #505156;
    font-size: var(var(--fontsize-medium));
    margin-top: 5px;
    font-style: italic;
    font-weight: bold;
}

.dashboard-card {
    background-color: var(--background-100);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
#project-details-page > .main-page-content {
    display: grid;
    grid-template-columns: 475px 1fr;
    padding: 20px 40px;
    gap: 30px;
    height: 100%;
}

.todo-task {
    background-color: var(--background-200);
    display: flex;
    justify-content: space-between;
    margin:10px;
    align-items: center;
    font-size: var(--fontsize-medium);
    padding:10px;
    border-radius: 8px;
}

.transparent-button {
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    width: 7rem;
    align-content: center;
}
/* Project details card */
.project-details-card-content {
    padding: 30px 20px;
    display: flex;
    row-gap: 20px;
    align-items: start;
}

.project-details-card-property {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}
/* Project details status bar */
.status-bar {
    display: flex;
    margin-left:20px;
    margin-right:20px;
    margin-bottom: 30px;
    background-color: #444;
    border-radius: 10px;
    overflow: hidden;
}

.status-bar-fill {
    width: 80%;
    background-color: green;
    height: 20px;
    line-height: 20px;
    color: white;
    text-align: center;
    border-radius: 10px 0 0 10px;
}


/* User management page */
.profile-picture {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-right: 15px; 
}

.user-table-container {
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-top: 10px;
    box-sizing: border-box;
    background-color: var(--background-200);
    position: relative;
}


.user-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
}
  
thead {
    border-bottom: 1px solid #444;
}
  
thead th {
    color: #aaa;
    font-weight: normal;
    padding: 12px 10px;
    text-align: left;
    font-size: 14px;
}
  
tbody tr {
    border-bottom: 1px solid var(--background-300);
    transition: background-color 0.3s;
}
  
tbody tr:hover {
    background-color: var(--background-300);
}
  
td {
    padding: 12px 10px;
    color: #e0e0e0;
    font-size: 14px;
    vertical-align: middle;
}
  
td:first-child {
    width: 30px;
}
  
.user-info {
    display: flex;
    align-items: center;
}
  
.user-avatar {
    width: 40px;
    height: 40px;
    background-color: var(--primary-200);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-right: 10px;
    font-size: 16px;
}
  
.user-avatar-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
  
.project-tag {
    display: inline-flex; 
    align-items: center;  
    justify-content: center; 
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    color: white;
    font-size: var(--fontsize-medium);
    margin-right: 5px; 
}
  
.orange {
    background-color: #ff9800;
}
  
.green {
    background-color: #4caf50;
}

.user-table th {
    font-size: var(--fontsize-medium-large);
    font-weight: bold;
    color:white;
    vertical-align: middle;
}

  /* Page flip - pagination */
.pagination{
    width: 50%; /* Set the width to 50% of the user-table-container */
    position: absolute; /* Positioning for centering */
    bottom: 20px; /* Position it from the bottom */
    left: 50%; /* Align from the center of the container */
    transform: translateX(-50%); /* Adjust to center */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: transparent;
    border-radius: 5px;
    box-sizing: border-box;
}
  
.page-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 10px;
}
  
.page-list li {
    margin: 0 5px;
}
  


.page-number {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    width: 36px;  /* Set width for circular shape */
    height: 36px; /* Set height for circular shape */
    border-radius: 50%; /* Make it circular */
    transition: background-color 0.3s, color 0.3s;
}
.prev,
.next {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #ffffff;
    background-color: transparent;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
  
.page-number:hover,
.prev:hover,
.next:hover {
    background-color: var(--background-300);
    color: #ffffff;
}
  
.active {
    background-color: #ffffff;
    color: black;
    
}
  
.ellipsis {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 8px 12px;
}
  
  